*.idea
*.DS_Store
__pycache__
/data/imagenette2/
/tmp_dir/
/experiments/fine_tune_vs_search_time/results/
/experiments/end_to_end_times/fine_tuning/results/
/experiments/end_to_end_times/calc_features/results/
/experiments/end_to_end_times/fine_tuning/plotting/plots/feature_extraction/
/experiments/end_to_end_times/fine_tuning/plotting/plots/full_fine_tuning/
/experiments/end_to_end_times/calc_features/plotting/plots/
/experiments/bottlenecks/model_rank/results/debug/
