*.idea
*.DS_Store
__pycache__
/data/imagenette2/
/tmp_dir/
/experiments/fine_tune_vs_search_time/results/
/experiments/side_experiments/end_to_end_times/fine_tuning/results/
/experiments/side_experiments/end_to_end_times/calc_features/results/
/experiments/side_experiments/end_to_end_times/fine_tuning/plotting/plots/feature_extraction/
/experiments/side_experiments/end_to_end_times/fine_tuning/plotting/plots/full_fine_tuning/
/experiments/side_experiments/end_to_end_times/calc_features/plotting/plots/
/experiments/main_experiments/bottlenecks/model_rank/results/debug/
/experiments/side_experiments/plot_shared/dummy.png
/experiments/side_experiments/plot_shared/dummy.svg
/experiments/side_experiments/opt_parameters/num_workers_and_batch_size/eval/plots-32-cores/
/global_utils/dummy_data/
/experiments/side_experiments/bert_sentiment/aclImdb/
/data/imagenette-dummy/
/experiments/main_experiments/prevent_caching/active-*
/experiments/main_experiments/model_search/results/dummy/
/data/imdb/data/
/data/cub-birds-200/
/data/food-101/
/data/image-woof/
/data/imdb/
/data/stanford-cars/
/data/stanford_dogs/
/experiments/side_experiments/bert_sentiment/imdb_dummy_data/
/experiments/main_experiments/model_search/eval/synthetic_snapshots/results/des-gpu-imagenette-synthetic-snapshots.zip
/experiments/main_experiments/model_search/eval/synthetic_snapshots/results/des-gpu-imagenette-synthetic-snapshots/
/experiments/docker_setup/password.txt
